<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.promise.mapper.DiscountMapper">
    <resultMap id="DiscountInformationResultMap" type="com.promise.entity.DiscountInformation">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="price" column="price"/>
    </resultMap>
    <select id="getAllInformation"
            resultType="DiscountInformation">
        select *
        from tb_discount_information
    </select>

    <select id="getInformationById"
            resultMap="DiscountInformationResultMap">
        select *
        from tb_discount_information
        where user_id = #{userId}
    </select>




</mapper>
